p {
  line-height: 25px;
}

h1 {
  font-family: "Noto Sans", sans-serif;
  font-size: 26px;
  text-align: center;
}

nav {
}

basefont {
  font-family: "Noto Sans", sans-serif;
}

body {
  text-align: center;
  background-color: #242424;
}

a {
  color: #0092ca;
}

html {
}

#poem {
  font-style: italic;
}
