p {
  line-height: 25px;
}

h1 {
  font-family: "Noto Sans", sans-serif;
  font-size: 26px;
  text-align: center;
}

nav {
}

basefont {
  font-family: "Noto Sans", sans-serif;
}

body, ol {
  text-align: center;
  background-color: #242424;
  align-content: center;
  list-style-position: inside;
  display: table;
  margin-left: auto;
  margin-right: auto;
}

a {
  color: #0092ca;
}

html {
}

#poem {
  font-style: italic;
}

img {
  max-width: 100%;
  height: auto;
}
